<h3>Rent a car</h3><br>

<form action="/rent/{{car._id}}" method="post">

    <p>{{car.mark}}</p>
    <p>{{car.model}}</p>
    <img src="{{car.image}}" alt="car">
    <p>{{car.year}}</p>
    <p>Rent: {{car.pricePerDay}}&dollar;</p>
    <br>

    Days<br>
    <input type="number" name="days" placeholder="Rental Days"><br>

    <br>
    <input class="rent" type="submit" value="Submit">
</form>
