{{#if currentUser.isAdmin}}
    <h1>Welcome to Doner Place!</h1>
    <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken,
        beef and lamb and any topping you want. Place your order now!</p>
    <div class="products">
        <h2>Admin</h2>
        <div class="product-card">
            <img src=img/new.png">
            <a href="/createProduct" class="button product-title">Create Product</a>
        </div>

        <h2>Beef Doner</h2>
        {{#each beef}}
            <div class="product-card" style="display: inline-block">
                <img class="added-img" src="{{this.image}}">
                {{#if ../currentUser.isAdmin}}
                    <a href="#" class="control"><img class="control-img" src="img/edit.png"></a>
                    <a href="#" class="control"><img class="control-img" src="img/delete.png"></a>
                {{else}}
                    <a href="customize/{{this._id}}" class="button product-title">Order</a>
                {{/if}}
            </div>
        {{else}}
            <h3>No Beef Doners</h3>
        {{/each}}

        <h2>Chicken Doner</h2>
        {{#each chicken}}
            <div class="product-card" style="display: inline-block">
                <img class="added-img" src="{{this.image}}">
                {{#if ../currentUser.isAdmin}}
                    <a href="#" class="control"><img class="control-img" src="img/edit.png"></a>
                    <a href="#" class="control"><img class="control-img" src="img/delete.png"></a>
                {{else}}
                    <a href="customize/{{this._id}}" class="button product-title">Order</a>
                {{/if}}
            </div>
        {{else}}
            <h3>No Chicken Doners</h3>
        {{/each}}

        <h2>Lamb Doner</h2>
        {{#each lamb}}
            <div class="product-card" style="display: inline-block">
                <img class="added-img" src="{{this.image}}">
                {{#if ../currentUser.isAdmin}}
                    <a href="#" class="control"><img class="control-img" src="img/edit.png"></a>
                    <a href="#" class="control"><img class="control-img" src="img/delete.png"></a>
                {{else}}
                    <a href="customize/{{this._id}}" class="button product-title">Order</a>
                {{/if}}
            </div>
        {{else}}
            <h3>No Lamb Doners</h3>
        {{/each}}

    </div>

{{else}}
    <h1>Welcome to Doner Place!</h1>
    <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of
        chicken, beef and lamb and any topping you want. Place your order now!</p>
    <br>
    <h2 style="text-align: center">Beef Doner</h2>
    <div class="products">
        {{#each beef}}
            <div class="product-card" style="display: inline-block">
                <img class="added-img" src="{{this.image}}">
                <a href="customize/{{this._id}}" class="button product-title">Order</a>
            </div>
        {{else}}
            <h3>No Beef Doners</h3>
        {{/each}}
    </div>

    <h2 style="text-align: center">Chicken Doner</h2>
    <div class="products">
        {{#each chicken}}
            <div class="product-card" style="display: inline-block"><img class="added-img"
                                                                         src="{{this.image}}"><a
                    href="customize/{{this._id}}"
                    class="button product-title">Order</a></div>
        {{else}}
            <h3>No Chicken Doners</h3>
        {{/each}}
    </div>

    <h2 style="text-align: center">Lamb Doner</h2>
    <div class="products">
        {{#each lamb}}
            <div class="product-card" style="display: inline-block"><img class="added-img"
                                                                         src="{{this.image}}"><a
                    href="customize/{{this._id}}"
                    class="button product-title">Order</a></div>
        {{else}}
            <h3>No Lamb Doners</h3>
        {{/each}}
    </div>
    <br><br>

    </div>
{{/if}}